local.xsd

<?xml version="1.0" encoding = "utf-8" ?>
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema">
	<xsd:element name = "Local">
	<xsd:complexType>
	<xsd:sequence>
		<xsd:element name  = "Local" maxOccurs = "unbounded">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element name = "id" type = "xsd:string"/>
					<xsd:element name = "nome" type = "xsd:string"/>
					<xsd:element name = "capacidade" type = "xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
	</xsd:sequence>
	</xsd:complexType>
	</xsd:element>	
</xsd:schema>


